body{
	background-image: url('123.jpg');

}

form{
	width:500px;
	background:rgba(0,0,0,.6);
	margin:12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.5);
}
